@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400;500;600;700;800&family=Poppins:wght@200;300&display=swap');

*:root{
    --clr-title: rgb(255, 255, 255);
    --clr-pink: #F9CEEE;
    --clr-purple: #c09ff5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Inter', sans-serif;
}






    /*-------------------------------------------BACKGROUND-------------------------------------------------*/
    .bg{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: url(../images/backg_mobile.svg);
        background-size: cover;
        z-index: -1;
        animation: start 1s;
        overflow: hidden;
    }

    /*---------------------------------------------HEADER-----------------------------------------------------*/
    header{
        height: 80vh;
        width: 35%;
    }
    header::before{
        position: absolute;
        left: 12%;
        clip-path: polygon(0 0, 100% 0%, 100% 49%, 55% 100%, 0% 50%);
        width: 3rem;
        height: 3rem;
        content: url("/assets/images/menu.svg");

        z-index: -1;
     }

     header>input[type='checkbox']{
        margin-left: 35%;
        width: 3rem;
        height: 3rem;
        opacity: 0;
     }

     input[type='checkbox']:checked ~ nav{
        transform: translateX(5%);
     }
    nav{
        margin-top: 1.5rem;
        padding: 2rem 0;
        height: 100%;
        border-radius: 20px;
        background-color: rgba(250, 250, 250, 1);

        -webkit-box-shadow: inset 8px 7px 20px 0px rgba(122,118,122,1);
        -moz-box-shadow: inset 8px 7px 20px 0px rgba(122,118,122,1);
        box-shadow: inset 8px 7px 20px 0px rgba(122,118,122,1);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        transform: translateX(-100%);
        transition: all 1s ease;

    }

    a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--clr-title);
        background-color: var(--clr-purple);
        border-radius: 30px;
        transition: all .5s ease-in-out;
    }


    nav>a, .exerc1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto .3rem auto;
        width: 4rem;
        height: 2rem;
        border-radius: 30px;
        background: var(--clr-purple);
        -moz-box-shadow: 0px 4px 0 #272727;
        -webkit-box-shadow: 2px 4px 6px #272727;
        transition: all .5s ease-in-out;
    }

    .exerc1>a{
        width: 100%;
        height: 100%;
        padding: .3rem;
    }
    .exerc1{
        position: relative;
    }
    .exerc1>input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .dif-exe{
        position: absolute;
        display: flex;
        left: 6rem;
        padding: .3rem;
        gap: .3rem;
        transform: translateX(-150%);
        opacity: 0;
        z-index: 10;
        transition: all .01s ease;
    }

    .dif-exe a {
        width: 4rem;
        height: 2rem;
        text-shadow: 2px 1px 2px #272727;
        border-radius: 30px;
        -moz-box-shadow: 0px 4px 0 #272727;
        -webkit-box-shadow: 2px 4px 6px #272727;
    }

    .exerc1>input:checked ~ .dif-exe{
        opacity: 1;
        transform: translateX(0);
        transition: all .01s ease;
    }


    a:hover, .exerc1:hover{
        cursor: pointer;
        padding: .4rem;
        color: black;
        font-weight: bold;
        text-shadow: 2px 1px 2px #dfdcdc;
    }


    .exerc1:hover>a{
        font-weight: bold;
        color: black;
        text-shadow: 2px 1px 2px #dfdcdc;
    }







    /*-------------------------------------------------MAIN----------------------------------------------------*/
    .orn{
        position: absolute;
        top: 25rem;
        right: 2rem;
        width: 15%;
        height: 5rem;
        animation: transfig 1s ease infinite alternate;
    }
    .orn img{
        width: 100%;
        height: 100%;
    }
    main{
        position: absolute;
        margin-top: -80vh;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;

    }

    main section{
        margin-top: 2rem;
        width: 50%;
        height: 100%;


    }
    main section div{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main section div svg{
        width: 100%;
        height: 110%;
        padding: 4% 5% 5% 5%;
    }

    main section div::after{
        width: 45%;
        height: 2rem;
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        filter: blur(.3rem);
        border-radius: 50%;
        animation: reduc 4s infinite alternate;

    }
    #svg1{
        animation: transfig 4s ease infinite alternate;
    }

    #path18-7{
        animation: transeye 4s  infinite alternate;

    }

    #path18{
        animation: transeye 4s  infinite alternate;
    }

    #path28, #path28-4, #path28-6, #path28-9{
        animation-name: transfig1, opc;
        animation-duration: 1s;
        animation-timing-function: ease, ease-in;
        animation-fill-mode: both;
        animation-iteration-count: infinite;

    }

    #shadow{
        animation: opc 4s infinite alternate;
    }
    main article{
        margin-top: -2rem;
        padding: 0 2rem;
        color: var(--clr-title);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }
    main article h1{

        font-size: 4rem;
        font-weight: 800;
        text-align: center;

    }

    main article h2{
        text-align: center;
    }

    main article p{
        text-align: justify;
        font-weight: bold;

    }

    /*----------------------------------------------------FOOTER-----------------------------------------------*/


    footer{
        position: absolute;
        width: 90%;
        left: 5%;
        top: 90vh;
        bottom: 5vh;
        height: 10vh;
        background: rgba(255, 255, 255, 0.05);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem); 
    }

    footer span{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.9);
        font-size: .8rem;
        font-weight: bold;
    }


@media (min-width: 700px) {

    .bg{
        position: inherit;
        background-image: url(../images/backg2.svg);

    }
    /*---------------------------------------------HEADER-----------------------------------------------------*/
    header{
        height: 10vh;
        width: 100%;

    }
    header::before{
        width: 0;
        height: 0;
        left: 0;
    }

    header>input[type="checkbox"]{
        width: 0;
        height: 0;
        opacity: 0;
    }

    nav{
        padding: 0;
        margin-top: 0;
        margin-right: 1rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        transform: translateX(0);
        transition: none;
    }

    a{
        background: rgb(224,205,255);
        background: linear-gradient(90deg, rgba(224,205,255,1) 0%, rgba(249,206,238,1) 35%, rgba(193,240,251,1) 100%);
        color: var(--clr-title);
        border-radius: 50%;
    }


    nav>a, .exerc1{


        width: 2rem;
        border-radius: 50%;
        text-shadow: 2px 1px 2px #272727;
        background: rgb(224,205,255);
        background: linear-gradient(90deg, rgba(224,205,255,1) 0%, rgba(249,206,238,1) 35%, rgba(193,240,251,1) 100%);
        -moz-box-shadow: 0px 4px 0 #272727;
        -webkit-box-shadow: 2px 4px 6px #272727;
        transition: all .5s ease-in-out;
    }

    .dif-exe{
        flex-direction: column;
        left: 0;
        top: 6vh;
        padding: 0;
        transform: none;
    }

    .dif-exe a {
        width: 2rem;
        height: 2rem;
        margin-bottom: .8rem;
        text-shadow: 2px 1px 2px #272727;
        background: rgb(224,205,255);
        background: linear-gradient(90deg, rgba(224,205,255,1) 0%, rgba(249,206,238,1) 35%, rgba(193,240,251,1) 100%);
        -moz-box-shadow: 0px 4px 0 #272727;
        -webkit-box-shadow: 2px 4px 6px #272727;
    }

    .exerc1>input:checked ~ .dif-exe{
        opacity: 1;
    }


    a:hover, .exerc1:hover{
        width: 4rem;
        justify-content: start;
        border-radius: 50px;
        font-weight: normal;
    }


    .exerc1:hover>a{
        justify-content: start;
    }







    /*-------------------------------------------------MAIN----------------------------------------------------*/
    .orn{
        top: 6rem;
        right: 10%;
    }
    .orn img{

    }
    main{
        margin-top: 6vh;
        flex-direction: row;
        position: inherit;
    }

    main article{
        width: 70%;
        padding: 0 1rem;
        align-items: start; 
    }

    main article h1{
        font-size: 5rem;
    }

    main article h2{
        text-align: start;
    }

    /*----------------------------------------------------FOOTER-----------------------------------------------*/


    footer{
        top: 90vh;
        height: 10vh;
        background-color: transparent;

    }
    footer span{
        font-size: 1rem;
    }



}

@media (min-width: 992px) {

    /*---------------------------------------------HEADER-----------------------------------------------------*/
    nav{
        margin-right: 2rem;
    }

    /*-------------------------------------------------MAIN----------------------------------------------------*/
    .orn{
        top: 6rem;
    }

    main section div svg{
        width: 80%;
        height: 100%;
    }

       main article{ 
        padding: 0 2rem;
        align-items: start;
    }
    main article h1{

        font-size: 6rem;
        font-weight: 800;


    }
    main article h2{
        font-size: 2rem;
    }

    main article p{
        font-size: 1.2rem;
        font-weight: 400; 
        text-align: start;

    }

}

@media (min-width: 1200px) {

    /*---------------------------------------------HEADER-----------------------------------------------------*/

    nav{
        margin-top: 2rem;
        margin-right: 4rem;
    }

    


    /*-------------------------------------------------MAIN----------------------------------------------------*/
    .orn{
        top: 10rem;
        right: 10%;
    }


    main section{
        margin-top: -4rem;
    }

    
    main section div svg{
        width: 70%;
        height: 80%;
    }

 
    main article{
        padding: 4rem 4rem 4rem 0;
    }

    main article h1{
        font-size: 6rem;
    }

  
}


/*------------------------------------------------ANIMATION---------------------------------------------------*/

@keyframes transeye{
    from{
       transform: translateX(0);
    }
    to{
        transform: translateX(7px)
    }
}

@keyframes transfig{
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(15px)
    }
}
@keyframes transfig1{
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(6rem)
    }
}

@keyframes reduc{
    from{
       transform: scaleX(.3);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes opc{
    from{
        opacity: 1;
     }
     to{
         opacity: 0;

     }

}

@keyframes start{
    0%{
        clip-path: circle(1.2% at 0 0);
     }
     100%{
        clip-path: circle(140.3% at 0 1%);

     }

}
